!!!
%html
  %head
    %title Github Visualizer
    = css :app
  %body
    .viz-type
      %a{href: "#", data: {toggle: "viztype", viztype: "circle_pack"}} Circle Packing
      %a{href: "#", data: {toggle: "viztype", viztype: "radial_tree"}} Radial Tree
    #viz-path
      %a{href: "#", data: {path: "root"}} root/
      %span
    #viz-collections
    #viz-list
    .viz-type
      %a.circle-packing.viz{:href => "#"}
        %img{:src => "assets/images/circle_packing.png"}/
      %a
      %a.radial-tree.viz{:href => "#"}
        %img{:src => "assets/images/radial_tree.png"}/
      %a
    = js :app
    :javascript
      $(function(){
        var app = new App('wycats/thor')
      })
