<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="/">Canopy</a>
    <ul class="nav">
      <li><a class="header-link" href="/test/">Tests</a></li>
      <li><a class="header-link" href="https://github.com/canopyui/canopy/wiki">Docs</a></li>
      <li><a class="header-link" href="https://github.com/canopyui/canopy">Code</a></li>
      <li><a class="header-link" href="https://github.com/canopyui/canopy/issues">Issues</a></li>
    </ul>
  </div>
</div>