<form>
  <input class="repo-url" type="text" placeholder="Enter a github repo url&hellip;" value="https://github.com/wycats/thor">
</form>

<ul class="nav nav-pills viz-toggle">
  <li class="active" data-viztype="circlepack"><a href="#">Circle Packing</a></a>
  <li data-viztype="radialtree" ><a href="#">Radial Tree</a></li>
</ul>

<ul id="viz-path" class="breadcrumb">
  <li><a data-path="root" href="#">root</a> <span class="divider">/</span></li>
</ul>

<div id="viz-graph"></div>
<div id="viz-list"></div>
