#viz-graph
  width 100%
  height 800px

  &.circlepack
    circle
      fill-opacity .25
      stroke-width 1px
      fill #1f77b4
      stroke steelblue

    .leaf circle
      fill-opacity 0
      pointer-events none

    text
      font 12px sans-serif

    .leaf text
      opacity 0

    text.parent
      fill #1f77b4

    circle.parenthover
      stroke #ff7f0e
      stroke-width .5px

  &.radialtree
    .node
      font 10px sans-serif

    .link
      fill none
      stroke #ccc
      stroke-width 1.5px
